server/data/endpoints/motor_hull_sensor/schema.rng

<element rngui:version="1.2" rngui:header="Arguments" name="arguments" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:rngui="http://rngui.org">
  <element name="degree" rngui:label="Degree" rngui:default="30">
    <data type="string" rngui:label="1..59"/>
  </element>
  <element name="duration" rngui:label="Duration" rngui:default="120">
    <data type="string" rngui:label="Seconds"/>
  </element>
</element>
