legacy/http-put%3A%2F%2Ftango.wst.univie.ac.at%3A9329%2Fmove%2Fposition%2Fpoint/schema.rng

<element rngui:version="1.2" rngui:header="Arguments" name="arguments" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:rngui="http://rngui.org">
  <element name="x" rngui:label="X">
    <data type="string" rngui:label="mm"/>
  </element>
  <element name="y" rngui:label="Y">
    <data type="string" rngui:label="mm"/>
  </element>
</element>
